VITE_API_URL=http://localhost:4000/api

# Debe ser EL MISMO Client ID configurado en el backend (GOOGLE_CLIENT_ID)
VITE_GOOGLE_CLIENT_ID=218784363748-0rd83tkn8ecmqni2cdlpbrpgtpp1qqe1.apps.googleusercontent.com

